.titleError {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 64px;
    color: var(--secondary);
    margin-top: 150px;
}
.containerError {
    height: 700px;
}
