.container {
    max-width: 1120px;
    background-color: var(--purple);
    height: 288px;
    margin-bottom: 72px;
}
.title {
    font-family: 'Bebas Neue';
    font-size: 40px;
    line-height: 60px;
    color: var(--primary);
    text-align: left;
    margin-left: 64px;
    padding-top: 56px;
    margin-bottom: 0;
}
.subtitle {
    font-family: 'Roboto';
    color: var(--secondary);
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    margin-left: 64px;
    margin-top: 0;
    margin-bottom: 32px;
}
.form {
    text-align: left;
    margin-left: 64px;
    margin-right: 64px;
}
.input {
    height: 56px;
    border: none;
    width: 83%;
    padding-left: 24px;
    font-size: 16px;
    color: var(--secondary);
}
.button {
    height: 58px;
    width: 13%;
    font-family: 'Bebas Neue';
    font-size: 18px;
    color: white;
    background-color: var(--primary);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .form {
        margin-left: 50px;
        margin-right: 50px;
    }
    .title {
        margin-left: 50px;
    }
    .subtitle {
        margin-left: 50px;
    }
    .input {
        width: 73%;
    }
    .button {
        width: 154px;
    }
}
@media (max-width: 879px) {
    .form {
        padding-bottom: 40px;
    }
    .subtitle {
        padding-right: 50px;
    }
    .input {
        width: 65%;
    }
}
@media (max-width: 768px) {
    .input {
        width: 65%;
    }
    .button {
        width: 167px;
    }
}
@media (max-width: 735px) {
    .container {
        height: 320px;
    }
    .input {
        width: 60%;
    }
}
@media (max-width: 665px) {
    .title {
        padding-top: 48px;
    }
    .container {
        height: 360px;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
    .input {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 0;
    }
    .button {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .form {
        margin-left: 24px;
        margin-right: 24px;
    }
    .title {
        font-size: 28px;
        padding-top: 40px;
        margin-left: 24px;
        margin-right: 24px;
        line-height: 40px;
    }
    .subtitle {
        font-size: 16px;
        margin-bottom: 18px;
        margin-left: 24px;
        margin-right: 24px;

    }
}
@media (max-width: 395px) {
    .title {
        padding-top: 24px;
    }
    .subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .input {
        height: 50px;
    }
    .button {
        height: 52px;
    }
}

