.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 104px;
    right: 40%;
}
.menu {
    display: none;
    border: none;
    background-color: white;
    max-width: 56px;
    max-height: 56px;
    cursor: pointer;
}
.section {
    display: flex;
    flex-direction: row;
}
.emptyDiv {
    height: 100%;
    width: 52%;
    background-color: black;
    opacity: 0.2;
}
.menuSection {
    background-color: white;
    width: 48%;
    height: 100%;
}


@media (max-width: 989px) {
    .menu {
        display: block
    }
};