.container {
    min-height: 800px;
    max-width: 1120px;
    margin: 0 auto;
}
.button {
    cursor: pointer;
    border: none;
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
}
.title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 56px;
    line-height: 64px;
    color: var(--primary);
    margin-top: 35px;
    text-align: left;
}